<!DOCTYPE html>
<html>
<head>
  <title>NewEstate</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<%= link_to 'Add a building', new_building_path %>
<%= link_to 'Add a owner', new_owner_path %>

<%= notice %>
<%= alert %>

<%= yield %>

</body>
</html>
